<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>uni</title>
	<link rel="stylesheet" href="../static/css/contentpage1.css" th:href="@{/css/contentpage1.css}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
	<div class="wrapper">

		<!--   faisl   -->


		<div class="container">
			<h1>Content</h1>

			<table style="margin: 0px auto;">
				<thead>
					<tr>
						<td>
							<h2> File name</h2>
						</td>
						<td>
							<h2>Actions</h2>
						</td>
					</tr>
				</thead>
				<tbody>
				
				
					<tr th:each="fileEntity : ${files}">
						<td th:text="${fileEntity.fileName}"></td>
						<td>
<div class="col-sm-6">
<!--   Delete button   -->


<a th:if="${user.role == 'Instructor'}" th:href="@{/subjects/content/delete/{id}(id=${fileEntity.id})}"><button class="btn4">Delete</button> </a>

							
<!--   download button   -->
						<a 
								th:href="@{/downloadZip/{id}(id=${fileEntity.id})}"> 	<button class="btn4"><i class="fa fa-download">   </i> </button></a>
								
								</div>
						</td>
					</tr>
		</tbody>
		</table>




	<div class="row" style="margin: 3em;"> </div>


	<table style="margin: 0px auto;" th:if="${user.role == 'Instructor'}" >
		<thead>

			<tr>
				<td>
					<h2>Title</h2>
				</td>

				<td>
					<h2>Action </h2>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			<form action="#" th:action="@{/subjects/fileupload/{id}(id=${groupentity.id})}" enctype="multipart/form-data" method="POST">
				

				<td>
					<div class="col-sm-6">
						<input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
					</div>
				</td>
				<td>
					
			<button type="submit" class="btn2" id="uploadButton">Upload
				
			</button>
				</td>
			</tr>
		</tbody>
		<div class="row" style="margin: 1em;">
		</div>
    </table>
    <br> 
	</div>
	</form>
	
	
	<!--Instructor -->



	<input type="checkbox" id="btn" hidden>
	<label for="btn" class="menu-btn">
		<i class="fas fa-bars"></i>
		<i class="fas fa-times"></i>
	</label>
	<nav id="sidebar">
		<div class="title">
			my menu </div>
		<ul class="list-items">
			<li><a th:href="@{/subjects/announcement/{id}(id=${groupentity.id})}"><i
						class="far fa-envelope"></i>Announcment</a></li>
			<li><a th:href="@{/subjects/attendance/{id}(id=${groupentity.id})}"><i
						class="fas fa-hand-paper"></i>Attendance</a></li>
			<li><a th:href="@{/subjects/content/{id}(id=${groupentity.id})}"><i class="fas fa-link"></i>Content</a></li>
			<li><a th:href="@{/subjects/homework/{id}(id=${groupentity.id})}"><i class="fas fa-stream"></i>Homeworks</a>
			</li>
			<li><a th:href="@{/subjects/dashboard}"><i class="fas fa-home"></i>Your Cources</a></li>
			<li><a th:href="@{/logout}"><i class="fa fa-power-off" style="font-size:24px"></i>Logout</a></li>


		</ul>
	</nav>
	</div>
	<section></section>
</body>

</html>